@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  /* overflow: hidden !important; */
  max-height: 100vh;
  background-color: black;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;  /* Internet Explorer 10+ */
  scrollbar-width: none;  /* Firefox */
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ff7b02;
}

::selection {
  color: white;
  background: #ff7b02;
}

.slide-animation {
  animation: slideInFromBottom 0.8s ease forwards;
}

.floating-image {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
  border-radius: 15px !important;
  transition:
    filter 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  filter: brightness(1) !important;
}
.floating-image:hover {
  filter: brightness(1.1);
  transform: scale(1.01);
}

.special-link {
  background: linear-gradient(
    90deg,
    rgba(63, 126, 224, 1) 0%,
    rgba(207, 86, 124, 1) 47%,
    rgba(63, 126, 224, 1) 100%,
    rgba(207, 86, 124, 1) 147%,
    rgba(63, 126, 224, 1) 200% /* Wrap to start for smooth animation */
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-button: text;
  color: transparent;
  -webkit-text-fill-color: transparent; /* For Safari */
  animation: gradient-animation 4s linear infinite;
}

.special-link-button:hover {
  background: linear-gradient(
    90deg,
    rgba(63, 126, 224, 1) 0%,
    rgba(207, 86, 124, 1) 47%,
    rgba(63, 126, 224, 1) 100%,
    rgba(207, 86, 124, 1) 147%,
    rgba(63, 126, 224, 1) 200% /* Wrap to start for smooth animation */
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; /* For Safari */
  animation: gradient-animation 4s linear infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: -200% 50%;
  }
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@media (max-width: 600px) {
  .responsive-btn {
    font-size: 10px !important; /* Smaller font size */
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
