@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

html,
body {
  overflow: hidden !important;
}

::-moz-selection {
  /* Code for Firefox */
  color: white;
  background: #ff7b02;
}

::selection {
  color: white;
  background: #ff7b02;
}

.slide-animation {
  animation: slideInFromBottom 0.8s ease forwards;
}

.floating-image {
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3) !important;
  border-radius: 15px !important;
  transition:
    filter 0.3s ease,
    transform 0.3s ease,
    box-shadow 0.3s ease;
  filter: brightness(1) !important;
}
.floating-image:hover {
  filter: brightness(1.1);
  transform: scale(1.01);
}

@keyframes slideInFromBottom {
  from {
    transform: translateY(100%);
    opacity: 0;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@tailwind base;
@tailwind components;
@tailwind utilities;
