.Service-body {
  display: flex;
  margin: 0px;
  height: 100vh;
  width: 100%;
  color: rgb(255, 255, 255);
  overflow-y: hidden;
  overflow-x: hidden;
}

.Service-body-maincontent {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow-y: hidden;
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.ServiceHeader {
  background-color: #f5d7bb;
  height: 35%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.Service-Title {
  text-align: center;
  color: #ff5c01;
  font-size: 45px;
  font-weight: 500;
  margin: 1%;
}

.Service-Intro {
  font-size: 15px;
  text-transform: uppercase;
  color: black;
  text-align: center;
  font-weight: 500;

  background-color: white;
  margin: 2%;
  padding: 1%;
  border-radius: 15px;
  width: 70%;
  align-items: center;
}

.Service-body-content {
  background-color: black;
  flex-grow: 1;
  width: 100%;
  position: relative;
  display: flex;
}

.Parag-Number {
  margin-top: 1%;
  height: 100%;
  width: 5%;
  border-style: solid;
  border-color: #ff5c01;
  border-radius: 15px;
  border-width: 3px;
  background-color: black;
  z-index: 2;
  padding-top: 3%;

  color: #ff5c01;
  font-size: 38px;
  text-align: center;
  font-weight: 600;

  animation: slideFromBottom 1s ease-in-out forwards;
}

.Service-Carousel {
  animation: slideFromBottom 1s ease-in-out forwards;
  animation-delay: 4s;
  opacity: 0;
}

@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

.BlackRibbon {
  background-color: #222222;
  height: 12%;
  width: 100%;
  margin-top: 1.7%;
  z-index: 1;
  color: #ff5c01;
  font-size: 20px;
  font-weight: 500;
  top: calc(50% - 10%);
  right: 0;

  animation: slideFromLeft 2s ease-in-out forwards;
  animation-delay: 1s;
  opacity: 0;
}

.BlackRibbon p {
  animation: fadein 2s ease-in-out forwards;
  animation-delay: 4s;
  opacity: 0;

  margin-left: 35%;
}

.PN01 {
  animation: slideFromLeft 1s ease-in-out forwards;
  animation-delay: 3.4s;
  opacity: 0;
}

.PN02 {
  animation: slideFromLeft 1s ease-in-out forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.PN03 {
  animation: slideFromLeft 1s ease-in-out forwards;
  animation-delay: 3.6s;
  opacity: 0;
}

.SD01 {
  animation: slideFromLeft 1s ease-in-out forwards;
  animation-delay: 3.4s;
  opacity: 0;
}

.SD02 {
  animation: slideFromLeft 1s ease-in-out forwards;
  animation-delay: 3.5s;
  opacity: 0;
}

.SD03 {
  animation: slideFromLeft 1s ease-in-out forwards;
  animation-delay: 3.6s;
  opacity: 0;
}

@keyframes slideFromLeft {
  0% {
    transform: translateX(-100%);
    opacity: 1;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.Description-Wrapped {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.Wrapped-contents {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.Service-Description {
  font-size: 13px;
  color: white;
  width: 50%;
}

.Service-Description p {
  margin: 2% 0% 6% 2%;
}

.Service-Card {
  height: 100%;
  width: 27%;
  margin: 1% 0% 2% 2%;
}

.Past-Projects {
  margin: 2%;
  color: #ff5c01;
  width: 50%;

  animation: fadein 1s ease-in-out forwards;
  animation-delay: 4.4s;
  opacity: 0;
}

.projectLinks {
  background-color: orange;
  border-radius: 15px;
  height: auto;
  width: auto;
  padding: 1%;
}

.buttonWrapped {
  margin-top: 20px;
  text-align: center;
}

.CSimage {
  background-image: url(/assets/images/CustomServices.jpg);
  background-size: cover;
  height: 80%;
  width: 60%;
  margin: 2% 0% 2% 2%;
  border-radius: 15px 0px 0px 15px;

  animation: slideFromRight 2s ease-in-out forwards;
  animation-delay: 3s;
  opacity: 0;

  overflow-x: hidden;
}

@keyframes slideFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
    overflow-x: hidden;
  }
  100% {
    transform: translateX(0%);
    opacity: 1;
  }
}
